.profile-container {
    text-align: center;
    padding: 20px;
  }
  
  .profile-details {
    margin-top: 20px;
  }
  
  .profile-info {
    width: 500px;
    margin: 0 auto;
    border: 3px solid #ccc;
    padding: 10px;
  }
  
  .profile-info p {
    margin: 15px 0;
  }
  